html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: "Segoe UI", Inter, Helvetica, Arial, sans-serif;
    background: #024731;
}

#out {
    height: 100%;
    width: 100%;
}

.avalonia-splash {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #FEBE10;
    background: #024731;
    letter-spacing: 0.08em;
}
