html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: Inter, Segoe UI, sans-serif;
}

#out {
    height: 100%;
}

.avalonia-splash {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #1f3a5f;
}
